Repository martient/Bifrost-env-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: repository config, cli, models, utils, environment_manager, test, docs, setup, package

.github/labeler.yml:

# Add 'repo' label to any root file changes
'repository config':
- '.github/**'
- '.vscode/**'

cli:
- 'cmd/**'

models:
- 'pkg/**/models.go'

utils:
- 'pkg/**/utils.go'

'environment_manager':
- 'pkg/environment_manager'

test:
- src/**/*_test.go

docs:
- '**.md'

setup:
- '.github/**'
- 'Makefile'
- 'go.mod'
- 'go.sum'
- '.gitignore'

package:
- 'go.mod'
- 'go.sum'

setup (release): define release process
  .github/workflows/release.yml
Labels: repository config, setup

setup (release): define release process
  .github/workflows/release.yml
Labels: repository config, setup

fix (github action): token
  .github/workflows/release.yml
Labels: repository config, setup

fix (github action): bump version
  .github/workflows/tags.yml
Labels: repository config, setup

fix (github action): bump version
  .github/workflows/tags.yml
Labels: repository config, setup

fix (github action): bump version
  .github/workflows/tags.yml
Labels: repository config, setup

setup (release) define process
  .github/workflows/release.yml
  .github/workflows/tags.yml
Labels: repository config, setup

setup (release) define process
  .github/workflows/release.yml
Labels: repository config, setup

setup (release) define process
  .github/workflows/release.yml
Labels: repository config, setup

feat (version) define version with cobra and release
  cmd/root.go
  main.go
Labels: cli

setup (git ignore): added config.json
  .gitignore
  config.json
Labels: setup

feat (self-update): added logic to self update the binary
  cmd/generate.go
  cmd/root.go
  cmd/self-update.go
  go.mod
  go.sum
  main.go
Labels: cli, setup, package

feat (logger) improve logs system
  .gitignore
  cmd/generate.go
  cmd/root.go
  cmd/self-update.go
  pkg/environment_manager/fileManager.go
  pkg/environment_manager/utils.go
  pkg/utils/utils.go
Labels: cli, utils, setup

feat (docs): added docs on new flags
  README.md
  go.sum
Labels: docs, setup, package

Update release.yml
  .github/workflows/release.yml
Labels: repository config, setup

Update release.yml
  .github/workflows/release.yml
Labels: repository config, setup

Update release.yml
  .github/workflows/release.yml
Labels: repository config, setup

Update release.yml
  .github/workflows/release.yml
Labels: repository config, setup

Update release.yml
  .github/workflows/release.yml
Labels: repository config, setup

Update release.yml
  .github/workflows/release.yml
Labels: repository config, setup

Create dependabot.yml
  .github/dependabot.yml
Labels: repository config, setup

feat (custom variable): improved rebuild structure for custom variable to be able to handle static variable in it in case of update
  .vscode/launch.json
  README.md
  go.mod
  pkg/environment_manager/fileManager.go
  pkg/environment_manager/models.go
Labels: repository config, models, docs, setup, package

setup (goreleaser): CGO_ENABLE=0 to be compatible with older OS
  .github/.goreleaser.yaml
Labels: repository config, setup

fix (error handling) add some error handling in case of variable are not define like statics, custom or random
  .vscode/launch.json
  pkg/environment_manager/fileManager.go
Labels: repository config

feat (update) add a new cli command to check if a new update is available
  cmd/self-update.go
Labels: cli

typo (update) clean a typo
  cmd/self-update.go
Labels: cli

fix (debug): remove loggers for existing variable
  pkg/environment_manager/fileManager.go
Labels: none

setup (utils) moved from local utils lib to remote one
  cmd/generate.go
  cmd/root.go
  cmd/self-update.go
  go.mod
  go.sum
  pkg/environment_manager/fileManager.go
  pkg/utils/utils.go
Labels: cli, utils, setup, package

feat (Log) update logger lib
  cmd/generate.go
  cmd/root.go
  cmd/self-update.go
  go.mod
  go.sum
  pkg/environment_manager/fileManager.go
Labels: cli, setup, package

feat (flags) added flags logic to the custom variable to be able to manipulate data format in specific context like Postgresql
  go.mod
  go.sum
  pkg/environment_manager/constant.go
  pkg/environment_manager/fileManager.go
Labels: setup, package

feat (conditional): add conditional capability
  pkg/environment_manager/fileManager.go
Labels: none

feat (flags): add new flag to handle new reported error for postgresql url format
  pkg/environment_manager/constant.go
  pkg/environment_manager/fileManager.go
Labels: none

setup (mod) batch update of the dependancies
  go.mod
  go.sum
Labels: setup, package
